<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid Status</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/grid.css" />
    <link rel="stylesheet" href="/styles/app.css" />
  </head>

  <body class="loading">
    <!-- top nav -->
    <div class="nav-wrapper">
      <div class="container">
        <div class="nav">
          <a href="/views/index.html" class="logo"> Covid-19 Status</a>
          <div class="darkmode-switch" id="darkmode-switch">
            <span>
              <i class="bx bxs-moon"></i>
              <i class="bx bxs-sun"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- end top nav -->

    <!-- main content -->
    <div class="content">
      <div class="container">
        <!-- country select -->
        <div class="row">
          <div class="col-3 col-md-6 col-sm-12">
            <div class="box">
              <div class="country-select" id="country-select">
                <div class="country-select-toggle" id="country-select-toggle">
                  <span> Global </span>
                  <i class="bx bx-chevron-down"></i>
                </div>
                <div class="country-select-list" id="country-select-list">
                  <input type="text" placeholder="Procure pelo Nome do País" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end country select -->

        <!-- tracking information -->
        <div class="row">
          <!-- left content -->
          <div class="col-8 col-md-12 col-sm-12">
            <div class="row">
              <!-- counter -->
              <div class="col-4 col-md-4 col-sm-12">
                <div class="box box-hover">
                  <div class="count count-confirmed">
                    <div class="count-icon">
                      <i class="bx bxs-virus"></i>
                    </div>
                    <div class="count-info">
                      <h5 id="confirmed-total">123,456,789</h5>
                      <span>confirmados</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- counter -->
              <!-- counter -->
              <div class="col-4 col-md-4 col-sm-12">
                <div class="box box-hover">
                  <div class="count count-recovered">
                    <div class="count-icon">
                      <i class="bx bxs-smile"></i>
                    </div>
                    <div class="count-info">
                      <h5 id="recovered-total">123,456,789</h5>
                      <span>recuperados</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- counter -->
              <!-- counter -->
              <div class="col-4 col-md-4 col-sm-12">
                <div class="box box-hover">
                  <div class="count count-death">
                    <div class="count-icon">
                      <i class="bx bxs-sad"></i>
                    </div>
                    <div class="count-info">
                      <h5 id="death-total">123,456,789</h5>
                      <span>mortes</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- counter -->

              <!-- all time chart -->
              <div class="col-12">
                <div class="box">
                  <div class="box-header">Gráfico de Evolução</div>
                  <div class="box-body">
                    <div id="all-time-chart"></div>
                  </div>
                </div>
              </div>
              <!-- end all time chart -->

              <!-- embed video -->
              <div class="col-6 col-md-6 col-sm-12">
                <div class="box">
                  <div class="box-header">
                    Coronavírus: O que a covid-19 faz com o seu corpo
                  </div>
                  <div class="box-body">
                    <iframe
                      width="100%"
                      height="315"
                      src="https://www.youtube.com/embed/WEMpIQ30srI"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
              <!-- end embed video -->

              <!-- embed video -->
              <div class="col-6 col-md-6 col-sm-12">
                <div class="box">
                  <div class="box-header">VACINAS CONTRA COVID FUNCIONAM?</div>
                  <div class="box-body">
                    <iframe
                      width="100%"
                      height="315"
                      src="https://www.youtube.com/embed/sUnRhGggwuI"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
              <!-- end embed video -->
            </div>
          </div>
          <!-- end left content -->

          <!-- right content -->
          <div class="col-4 col-md-12 col-sm-12">
            <!-- 30 days chart -->
            <div class="box">
              <div class="box-header">Últimos 30 dias</div>
              <div class="box-body">
                <div id="days-chart"></div>
              </div>
            </div>
            <!-- end 30 days chart -->

            <!-- recovery rate chart -->
            <div class="box">
              <div class="box-header">taxa de recuperação</div>
              <div class="box-body">
                <div id="recover-rate-chart"></div>
              </div>
            </div>
            <!-- end recovery rate chart -->

            <!-- top country affected -->
            <div class="box">
              <div class="box-header">top Países afetados</div>
              <div class="box-body">
                <table class="table-countries" id="table-countries">
                  <thead>
                    <tr>
                      <th>País</th>
                      <th>Confirmado</th>
                      <th>Recuperado</th>
                      <th>Mortes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>test</td>
                      <td>test</td>
                      <td>test</td>
                      <td>test</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end top country affected -->
          </div>
          <!-- end right content -->
        </div>
        <!-- end tracking information -->
      </div>
    </div>
    <!-- end main content -->

    <!-- footer -->
    <div class="footer">
      <p>Covid-19&copy; 2020, Todos os Direitos Reservados</p>
    </div>
    <!-- end footer -->

    <!-- loader -->
    <div class="loader">
      <i class="bx bxs-virus bx-spin"></i>
    </div>
    <!-- end loader -->

    <!-- apexchart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- JS -->
    <script src="/API/fetchApi.js"></script>
    <script src="/API/covidApi.js"></script>
    <script src="/API/app.js"></script>
    <script src="/server.js"></script>
  </body>
</html>
